.container
  .page-title
    background: #fff;
    padding: 10px 16px;
    span
      font-size: 16px;
      color: rgb(18, 21, 24);
      font-weight: 700;
  .content
    margin: 10px;
  .search-wrap
    border: 1px solid rgb(229, 233, 244);
    background #fff
    margin 5px;
    .section-title
      height 32px;
      line-height 32px;
      padding-left: 10px;
      font-weight: 700;
      color: rgb(50, 50, 50);
      background: rgb(245, 246, 247);
      border-bottom: 1px solid rgb(229, 233, 244);
.bg-fff
  margin: 5px;
  .el-col
    width:calc(50% - 5px);
    background: #fff;
.search-form
  padding: 15px 15px 0;
  