.container
  .page-title
    background: #fff;
    padding: 8px 16px;
    span
      font-size: 16px;
      color: rgb(18, 21, 24);
      font-weight: 700;
  .content
    background: #fff;
    margin: 8px 12px;
    padding: 10px;
  .search-wrap
    border: 1px solid rgb(229, 233, 244);
    .section-title
      height 32px;
      line-height 32px;
      padding-left: 10px;
      font-weight: 700;
      color: rgb(50, 50, 50);
      background: rgb(245, 246, 247);
      border-bottom: 1px solid rgb(229, 233, 244);
.bg-fff
  background: #fff !important;
.search-form
  padding: 10px 10px 0;
  