.el-card__body{
    height: 100% !important;
  }
  .imap-window-content{
    height: 100% !important;
    width: 100% !important;
  }
  .imap-popup-content{
    height: 100% !important;
    /* width: 100% !important; */
  }
  .imap-window{
    width: 250px !important;
    position: relative !important;
  }
  .imap-window {
    left: 8px !important;
}
.imap-popup-content-wrapper {
  border: 1px solid #114e67;
}
.a_name{
  color: #18bc9c;
  font-size: 16px;
  font-weight: 700;
}
.el-card__body {
  padding: 5px !important;
}
/* .el-dialog{
  width: 80% !important;
}
.v-modal{
  position: inherit;
} */