input[type=text]:focus,
select:focus,
textarea:focus{
  border-color: #235ff5!important;
}
.el-calendar-table .el-calendar-day {

  height: 30px !important;
}
.el-dialog__footer {
  line-height: 24px !important;
  text-align: center !important;
}
.el-step__main {
  white-space:pre !important;
  /* text-align: left; */
}
.el-calendar-table tr td:first-child {
  border-left: 0px solid #EBEEF5 !important;
}
.el-calendar-table tr:first-child td {
  border-top: 0px solid #EBEEF5 !important;
}
.el-calendar-table td {
  border-bottom: 0px solid #EBEEF5 !important;
  border-right: 0px solid #EBEEF5 !important;
}
.el-calendar__body {
  padding: 0px 0px 0px !important;
}
.el-calendar-table thead th {
  font-weight: 700 !important;
}
.el-calendar__header {
  width: 100% !important;
}
.el-calendar__header {
  border-bottom: 0px solid #EBEEF5 !important;
  padding: 0px 7px !important;
  margin-top: 10PX !important;
}
.el-button--mini, .el-button--mini.is-round {
  padding: 6px 8px !important;
}
.my_timeline_item_line {
  width: 180% !important;
  height: 10px;
  margin: -14px 0 0 -64px !important;
  border-top: 2px solid #e4e7ed;
  border-left: none;
}
/* .a_body .el-dialog__header {
  height: 0px;
} */
.a_body .selected{
  background: #235FF5;
  color:rgb(250, 244, 244);
}
 /* .selected{
   background: #235FF5;
  color:red;
} */
/* .a_body .bg{
  color:pink;
}
.a_body{
  height: 100%;
}
.a_body .el-container {
  flex-direction: column;
}
.a_body .el-tabs--left, .el-tabs--right {
  height: 100% !important;
  width: 100%;
}
.a_body .el-dialog__body {
  padding: 0px 0px;
  height: 500px !important;
  display: flex;
} */
.a_head{
  height: 10%;
  text-align: center;
  font-size: larger;
  margin-top: 15px;
  font-weight: 700;
}
.a_left{
  width: 100%;
  height: 100%;
  line-height: 50px;
  cursor: pointer;
  background: white;
}
a_conent{
  height: 90%;
}
.a_menu{
  height: 42px;
  cursor: pointer;
}
/* a_right{
  width: 80% !important;
  background: aliceblue;
  margin-left: 15px; 
} */
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
background: #f0f9eb;
}
.a_body .el-table thead {
line-height: 10px !important;
}
.el-textarea {
  /* position: relative; */
  display: inline-block;
  width: 84%;
  vertical-align: bottom;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 0px !important;
  height: 130px;
}
.el-textarea__inner {
  min-height: 94px !important;
  margin-left: 7px;
}
/* .el-calendar__body {
  padding: 10px 20px 35px !important;
} */
.login .focus-username:focus,
.login .focus-password:focus{
  border-color: #00d2ff!important;
  background-color: transparent!important;
}
.login .focus-username:-webkit-autofill,
.login .focus-password:-webkit-autofill{
  background-color: transparent!important;
}
.login .focus-remember-password:focus+label{
  font-weight: bold!important
}

.home .hov-header-module:hover{
  color: #467cd4!important
}

.home .hov-user-menu-toggle:hover{
  border-radius: 50%!important;
  background: #ccc!important
}

.home .hov-news-item:hover{
  color: #014BB8!important
}

.home .hov-news-nav:hover>div{
  opacity: 0.6!important
}

.left_menu::-webkit-scrollbar{
  width: 0!important
}

.left_menu .hov-nav-item:hover{
  background: #3985F633
}

.pager .hov-action:hover{
  color: #ffffff!important;
  background-color: #467cd4!important
}

.organization_home .hov-route:hover{
  background-color: #185EFF!important
}

.organization_home .hov-route:hover>span{
  color: #fff!important;
}

.my_tree_map .hov-menu-item:hover{
  transform: skewX(10deg);
}

.annual_detail .left_menu .hov-menu-item:hover{
  background: #3985f6!important;
  color: #fff!important
}

.attendance_management .hov-menu-item:hover{
  background: #3985f6!important;
  color: #fff!important
}

.date_picker .hov-date:hover{
  font-weight: bold!important
}

.date_picker .foc-select-year:focus,
.date_picker .foc-select-year:hover,
.date_picker .foc-select-month:focus,
.date_picker .foc-select-month:hover{
  border-color: #235FF5!important;
}

.date_picker .hov-month-button:hover{
  background: #235FF5!important;
}

.date_picker .calendar .hov-date-item:hover>div{
  background: #235FF5!important;
  color: #FFFFFF!important;
  border: 2px solid #235FF520;
}

.calendar_color .hov-date:hover{
  background: #eee!important
}

.logs_management_evaluation .hov-score-item:hover {
  background: #235ff5!important;
  color: #FFFFFF!important;
  border-radius: 8px;
}

.popup_manager .hov-clear:hover{
  border-color: #72b7ec!important;
}

.left_panel .hov-action:hover{
  background-color: #cf3034!important
}

.layer_mod .hov-action:hover{
  background-position: right!important;
  background-color: #467cd4!important
}

.role_management_sub .hov-action:hover{
  background-position: right!important;
  background-color: #467cd4!important
}

.user_management_sub .hov-action:hover {
  background-position: right!important;
  background-color: #467cd4!important
}

.wfs_config_mod .hov-list:hover{
  color: #ffffff!important;
  background-color: #467cd4!important
}
@media (max-width: 1280px) {
.p_evaluate{
  width: 60% !important;
}
}
@media (max-width: 1920px) {
  .p_evaluate{
    width: 40%;
  }
}
@media (max-width: 1280px) {
  .p_eright{
    width: 39% !important;
  }
  }
  @media (max-width: 1920px) {
    .p_eright{
      width: 51%;
    }
  }
table>tbody.hov-tr-bg>tr:hover{
  background-color: #ebf8ff!important
}
table>thead.pos-ends-border>tr>th:first-child{
  border-left-width: 0!important
}
table>thead.pos-ends-border>tr>th:last-child{
  border-right-width: 0!important
}
table>tbody.pos-tr-even-odd-bg>tr:nth-child(odd){
  background-color: #ffffff
}
table>tbody.pos-tr-even-odd-bg>tr:nth-child(even){
  background-color: #f9f9f9
}

.hov-career-item:hover, .hov-career-item:focus, .hov-career-item:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  box-shadow: 0 0 10px 2px rgba(31,51,73,.25)!important;
}
.hov-career-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}